@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Concert+One|Indie+Flower|Righteous|Tomorrow&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower';

}


body {
	background-color: #F4B9B8;
	background-image: url(../imges/unsplash.jpg);
	background-size: cover;
	
}




.container {
	margin: 40px;
	margin-top:100px;
	border: 2px orange dotted;
	border-radius: 24px;
}


.game {
	border:3px yellow dotted;
	padding-bottom: 53px;
	border-radius: 20px;

}

.bottom-message {
	margin-bottom: 10px;
}

#cloud {
	position: absolute;
	top: calc(50% - 107px);
	left: calc(50% - 210px);
	width:52%
}

.game-box {
  width: 202px;
  height: 202px;
  display: flex;
  flex-wrap: wrap;
  /* border: solid 2px #333; */
	margin: 0 auto;
	background-color: #aec6cf;
	border-radius: 10px;
	margin-top:30px;
}

.box {
  position: relative;
  width: calc(198px / 3);
  height: calc(198px / 3);
}

.message {
	text-align: center;
}



.swing {
	animation-duration: 2s;
  animation-delay: 0.5s;
}

.bottom-message {
	text-align:center;
	padding-top: 30px;

}

.bottom-message button {
	background-color: #ffb347;
	margin:0 auto;
}

#turn {
	margin: 30px;
	background-color:pink;
}

#choose {
	display:block;
	margin-top:20px;
}

.select {
	text-align: center;
	padding-top:20px;


}

#red {
	background-color: #ff6961;
}

#green {
	background-color: #77dd77;
}

#yellow {
	background-color: #fdfd96;
}

#purple {
	background-color: #b19cd9;
}

.select p {
	margin-bottom:20px;
}

#pink{
	background-color: pink;
}
