@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Concert+One|Indie+Flower|Righteous|Tomorrow&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower';
	/* font-family: 'Tomorrow', ; */
	/* font-family: 'Righteous', ; */
	/* font-family: 'Amatic SC', ; */
	/* font-family: 'Concert One', ; */
}
#background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: -2;
}

body {
	background-color: #F4B9B8;
}

.container {
	position: relative;
}

#cloud {
	position: absolute;
	top: calc(50% - 107px);
	left: calc(50% - 210px);
	width:1%;
}

.game-box {
  width: 202px;
  height: 202px;
  display: flex;
  flex-wrap: wrap;
  /* border: solid 2px #333; */
	margin: 0 auto;
}

.box {
  position: relative;
  width: calc(198px / 3);
  height: calc(198px / 3);
}

.message {
	text-align: center;
}

.message h1 {
	font-size: 64px;
	color:#ffb347;
}

.bottom-message {
	text-align:center;
	padding-top: 30px;

}

.bottom-message button {
	background-color: #fdfd96;
	margin:0 auto;
}

#turn {
	margin: 30px;
	background-color: pink;
}

#choose {
	display:block;
	margin-top:20px;
}

/* .x {
	background: url("../imges/macaron-red.png");
	background-size: cover;
	background-position: center;
} */
