@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Concert+One|Indie+Flower|Righteous|Tomorrow&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower';
	/* font-family: 'Tomorrow', ; */
	/* font-family: 'Righteous', ; */
	/* font-family: 'Amatic SC', ; */
	/* font-family: 'Concert One', ; */
}
/* #background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: -2;
} */

body {
	background-color: #F4B9B8;
	background-image: url(../imges/unsplash.jpg);
	background-size: cover;
}




.container {
	margin: 40px;
	margin-top:100px;
}


.game {
	border:3px yellow dotted;
	padding-bottom: 30px;
	border-radius: 20px;
}

.bottom-message {
	margin-bottom: 10px;
}

#cloud {
	position: absolute;
	top: calc(50% - 107px);
	left: calc(50% - 210px);
	width:52%
}

.game-box {
  width: 202px;
  height: 202px;
  display: flex;
  flex-wrap: wrap;
  /* border: solid 2px #333; */
	margin: 0 auto;
	background-color: #aec6cf;
	border-radius: 10px;
}

.box {
  position: relative;
  width: calc(198px / 3);
  height: calc(198px / 3);
}

.message {
	text-align: center;
}

.message h2 {
	font-size: 50px;
	color:#779ecb;

}

.bottom-message {
	text-align:center;
	padding-top: 30px;

}

.bottom-message button {
	background-color: #fdfd96;
	margin:0 auto;
}

#turn {
	margin: 30px;
	background-color:pink;
}

#choose {
	display:block;
	margin-top:20px;
}

.select {
	text-align: center;
	padding-top:20px;

}



/* .x {
	background: url("../imges/macaron-red.png");
	background-size: cover;
	background-position: center;
} */
